<div class="columns">

  <div class="column is-one-third">
    <app-user-template-based-form
      [user]="user"
      (userSubmit)="userSubmitTemplateBased($event)">
    </app-user-template-based-form>
  </div>


  <!-- TODO 2.2 - odkomentujte reaktivní formulář -->

  <div class="column">
    <app-user-reactive-form
      [user]="user"
      (userSubmit)="userSubmitReactive($event)">
    </app-user-reactive-form>
  </div>

  <div class="column is-one-third">
    <app-user-profile [user]="user"></app-user-profile>
  </div>

</div>
