<div class="help is-danger"
     *ngIf="shouldDisplayErrors()">
  <div *ngIf="errors?.required">
    Field is required.
  </div>

  <div *ngIf="errors?.minlength">
    Field text must be at least {{errors.minlength.requiredLength}} characters long.
  </div>

  <div *ngIf="errors?.maxlength">
    Field text must be at most {{errors.maxlength.requiredLength}} characters long.
  </div>

  <div *ngIf="errors?.email">
    Field should contain valid email.
  </div>

  <div *ngIf="errors?.serverMessage">
    {{errors.serverMessage.message}}
  </div>

</div>

