<div class="box" [formGroup]="contactForm">

  <label class="label">Phone</label>

  <div class="control has-addons">
    <input class="input is-expanded" type="text" name="phone"
           formControlName="phone"
    />
  </div>

  <app-form-control-errors controlName="phone"></app-form-control-errors>

  <label class="label">Email</label>

  <div class="control has-icons-right">
    <input class="input is-expanded" type="email" name="email"
           formControlName="email"
    />
  </div>

  <app-form-control-errors controlName="email"></app-form-control-errors>

</div>
