<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <app-menu></app-menu>
      </div>
      <div class="column">

        <!-- TODO homeComponent nahradit router outlet -->
        <router-outlet></router-outlet>

      </div>
    </div>
  </div>
</section>
